<!-- Hero -->
 <section class="hero-section">
  <div class="container">
    <h1 class="hero-title">Gdy Natura Naciąga, Dusza Odpoczywa</h1>
    <p class="hero-text">Uzdrawiające mieszanki i ponadczasowe rytuały — stworzone z miłości i dzikich ziół.</p>
<button type="button" class="hero-button">
  <a class="hero-link" href="/">Dołącz do Warsztatu</a>
</button>
  </div>
 </section>
 <!-- O Nas -->
  <section class="about-section">
    <div class="container">
      <h2 class="about-title">O Nas</h2>
      <h3 class="about-subtitle">Napój z Wnętrza</h3>
      <ul class="about-list">
        <li class="about-item">
          <img class="leaves-img" src="/img/about/two-leaves.png" alt="Leaves"/>
          <p class="about-text">W sparkvictorystar widzimy herbatę nie tylko jako napój — lecz jako przejście.</p>
        </li>
        <li class="about-item">
          <img class="leaves-img" src="/img/about/two-leaves.png" alt="Leaves"/>
          <p class="about-text">Nasze mieszanki tworzone są w rytmie sezonów, cykli księżyca i subtelnych potrzeb serca.</p>
        </li>
        <li class="about-item">
          <img class="leaves-img" src="/img/about/two-leaves.png" alt="Leaves"/>
          <p class="about-text">Tworzymy przestrzeń dla obecności, ciszy i łagodnego powrotu do siebie — filiżanka po filiżance.</p>
        </li>
      </ul>
      <img class="about-img" src="/img/about/about-desk.png" alt="Cup"/>
    </div>
  </section>
  <!--  -->