.footer {
  background: #026260;
}
.footer-container{
  padding: 40px 50px;
}
.footer-list{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  font-family: "Onest", sans-serif;
font-weight: 300;
font-size: 20px;
text-decoration: underline;
text-decoration-skip-ink: none;
color: #e5e5d4;
margin-bottom: 40px;
}
.footer-text{
  font-family: "Onest", sans-serif;
font-weight: 400;
font-size: 16px;
text-align: center;
color: #e5e5d4;
}
@media only screen and (min-width: 1439px) {
  .footer-container{
    padding: 64px 415px;
  }
  .footer-list{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 48px;
  }
}